{% block editProfile %}
{% load crispy_forms_tags %}

<!-- Form -->
<form action="{% url 'userProfile' %}" method="post">
    {% csrf_token %}
    <fieldset class="border border-3 rounded p-5">
        <legend class="bg-primary text-center p-2 mb-3" style="border-radius: 14px; color: white;">
            {{request.user.full_name|title}}'s Profile
        </legend>
        {{userProfile|crispy}}
        <!-- Sumbit Button -->
        <button type="submit" class="btn btn-primary float-end">Save</button>
    </fieldset>
</form>
{% endblock %}