{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %} {% static 'css/sign.css' %} {% endblock %}

<!-- Title -->
{% block title %} SignIn {% endblock %}

{% block navbar %} {% endblock %}

{% block index %}

<section>
    <!-- Form Content-->
    <div class="form-content">
        <div class="form-container p-4">
            <h3 class="text-center mb-4">Sign<span class="text-primary">In</span></h3>
            <form action="{% url 'loginUser' %}" method="post" novalidate>
                {% csrf_token %}
                {{ loginForm|crispy }}
                <div class="text-center mb-3">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <div class="mb-3">
                    <p>Don't have an account? <span class="bold"><a href="{% url 'registerUser' %}">signup</a></span>
                    </p>
                </div>
            </form>
        </div>

    </div>
    <!-- Img Content-->
    <div class="bgImg">
        <img src="{% static 'images/logbg.jpg' %}" />
    </div>
</section>

{% endblock %}