{% extends 'base.html' %}
{% load static %}

{% block styles %} {% static 'css/index.css' %} {% endblock %}

<!-- Title -->
{% block title %} {{request.user.full_name}}'s Profile {% endblock %}

<!-- Content -->
{% block index %}
<div class="container">
    <div class="row">
        <!-- Profile & Navigation Column-->
        <div class="col-md-4 p-4">
            <!-- Profile Image -->
            <div class="img-container p-1 d-flex justify-content-center" style="border-radius:50%;">
                {% if request.user.gender == 'Male' %}
                <img src="{% static 'images/male.jpg' %}" class="rounded-circle align-items-center"
                     style="width:70%; pointer:cursor;"/>
                {% elif request.user.gender == 'Female' %}
                <img src="{% static 'images/female.jpg' %}" class="rounded-circle align-items-center"
                     style="width:70%; pointer:cursor;"/>
                {% else %}
                <img src="{% static 'images/panda.jpg' %}" class="rounded-circle align-items-center"
                     style="width:70%; pointer:cursor;"/>
                {% endif %}
            </div>
            <!-- NavTabs -->
            <div class="navigation-container p-4">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!-- Update Profile -->
                    <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="true">
                        Profile
                    </button>
                    <!-- Adress Book -->
                    <button class="nav-link" id="v-pills-adresses-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-adresses" type="button" role="tab" aria-controls="v-pills-adresses"
                            aria-selected="false">
                        Adresses
                    </button>
                    <!-- Orders History -->
                    <button class="nav-link" id="v-pills-orders-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-orders" type="button" role="tab" aria-controls="v-pills-orders"
                            aria-selected="false">
                        Orders
                    </button>
                    <!-- Favourite Items -->
                    <button class="nav-link" id="v-pills-fav-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-fav" type="button" role="tab" aria-controls="v-pills-fav"
                            aria-selected="false">
                        Favourites
                    </button>
                    <!-- Reviews History -->
                    <button class="nav-link" id="v-pills-review-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-review" type="button" role="tab" aria-controls="v-pills-review"
                            aria-selected="false">
                        Reviews
                    </button>
                </div>
            </div>
        </div>
        <!-- Navigated Page Content Column -->
        <div class="col-md-8 p-5">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Profile Form -->
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    {% block editProfile %}
                    {% include "editProfile.html" %}
                    {% endblock %}
                </div>
                <!-- Adress Book -->
                <div class="tab-pane fade" id="v-pills-adresses" role="tabpanel" aria-labelledby="v-pills-adresses-tab">
                    {% block addAdress %}
                    {% include "addAdress.html" %}
                    {% endblock %}
                </div>
                <!-- Orders History -->
                <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
                    {% block orders %}
                    {% include "orders.html" %}
                    {% endblock %}
                </div>
                <!-- Favourite Items -->
                <div class="tab-pane fade" id="v-pills-fav" role="tabpanel" aria-labelledby="v-pills-fav-tab">
                    {% block favs %}
                    {% include "favs.html" %}
                    {% endblock %}
                </div>
                <!-- Reviews -->
                <div class="tab-pane fade" id="v-pills-review" role="tabpanel" aria-labelledby="v-pills-review-tab">
                    {% block review %}
                    {% include "reviews.html" %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
// Maintain Nav State
$(function() {
    $('button[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('lastTab', $(this).attr('data-bs-target'));
    });

    var lastTab = localStorage.getItem('lastTab');

    if (lastTab) {
        $('[data-bs-target="' + lastTab + '"]').tab('show');
    }
});

// Navbar Fix
var myNav = document.getElementById('my-nav');
myNav.classList.add("nav-scroll");
myNav.classList.add("mb-4");
</script>
{% endblock %}
