{% extends 'base.html' %}
{% load static %}

<!-- CSS Styles -->
{% block styles %} {% static 'css/restaurantSign.css' %} {% endblock %}

<!-- Title -->
{% block title %} addRestaurant {% endblock %}

<!-- Remove Navbar -->
{% block navbar %} {% endblock %}

{% block index %}

<section>
    <div class="container">
        <div class="card">
            <div class="form">
                <!-- Left side -->
                <div class="left-side">
                    <div class="left-heading">
                        <h1 class="foodie-logo text-primary">Foodie</h1>
                    </div>
                    <div class="steps-content mt-4 text-light">
                        <h3>Step <span class="step-number">1</span></h3>
                        <p class="step-number-content active">Enter your personal information.</p>
                        <p class="step-number-content d-none">Tell us more about your business.</p>
                        <p class="step-number-content d-none">Upload the Government approved License.</p>
                        <p class="step-number-content d-none">Add your profile piccture and let companies find youy
                            fast.</p>
                    </div>
                    <ul class="form-progress-bar">
                        <li class="active">Personal Information</li>
                        <li>Restaurant Details</li>
                        <li>License</li>
                        <li>Photo Uploads</li>
                    </ul>
                </div>
                <!-- Right Side -->
                <div class="right-side">
                    <form action="{% url 'regRestaurant' %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <!-- Persinal Info -->
                        <div class="main p-4 active">
                            <div class="text mt-3">
                                <h2>Your <span class="text-primary">Personal Information</span></h2>
                                <p class="text-secondary">Enter your personal information</p>
                            </div>
                            <!-- Email -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="email" name="email" class="form-control"
                                               placeholder="Your Email" value="{{ request.user.email }}" required disabled>
                                        <label>Your Email</label>
                                        <span class="error-msg"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Full Name -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="full_name" class="form-control"
                                               placeholder="Your Full Name" value="{{ request.user.full_name }}" required disabled>
                                        <label>Your Full Name</label>
                                        <span class="error-msg"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Number -->
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="tel" name="mobile_num" class="form-control"
                                               placeholder="Your Mobile Number" required>
                                        <label>Your Mobile Number</label>
                                        <span class="error-msg"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Next button-->
                            <div class="buttons">
                                <button type="button" class="btn btn-primary next_button">Next Step</button>
                            </div>
                        </div>
                        <!-- Restaurant Details -->
                        <div class="main p-4">
                            <div class="text mt-3">
                                <h2>Your <span class="text-primary">Restaurant Details</span></h2>
                                <p class="text-secondary">Enter your Restaurant details.</p>
                            </div>
                            <!-- Restaurant Name -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="restaurant_name" class="form-control"
                                               placeholder="Your Restaurant Name" required>
                                        <label>Your Restaurant Name</label>
                                        <span class="error-msg"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Address -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="restaurant_address" class="form-control"
                                               placeholder="Your Restaurant Address" required>
                                        <label>Your Restaurant Address</label>
                                        <span class="error-msg"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- State -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <select class="form-select border border-red" id="exist_state-{{address.id}}"
                                                name="add_state" required>
                                            <option selected hidden disabled value="">Choose...</option>
                                            {% for state in states %}
                                            <option value="{{ state.id }}">{{ state }}</option>
                                            {% endfor %}
                                        </select>
                                        <label>State</label>
                                        <span class="error-msg"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- City -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="exist_city-{{address.id}}" name="add_city"
                                                required>

                                        </select>
                                        <label>City</label>
                                        <span class="error-msg"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div class="buttons">
                                <button type="button" class="btn btn-secondary back_button">Back Step</button>
                                <button type="button" class="btn btn-primary next_button">Next Step</button>
                            </div>
                        </div>
                        <!-- License -->
                        <div class="main p-4">
                            <div class="text mt-3">
                                <h2>Upload <span class="text-primary">Restaurant License</span></h2>
                                <p class="text-secondary">Upload the Government approved Licenses for validation</p>
                            </div>
                            <!-- FSSAI License -->
                            <div class="mb-3">
                                <label class="form-label"> FSSAI License: </label>
                                <input class="form-control form-control-sm" name="fssai" type="file" required>
                                <span class="error-msg"></span>
                            </div>
                            <!-- Eating House License -->
                            <div class="mb-3">
                                <label class="form-label"> Eating House License: <span
                                        class="text-secondary">(optional)</span>
                                </label>
                                <input class="form-control form-control-sm" name="eat_house" type="file">
                            </div>
                            <!-- GST registration Certificate -->
                            <div class="mb-3">
                                <label class="form-label"> GST registration Certificate: <span class="text-secondary">(optional)</span></label>
                                <input class="form-control form-control-sm" name="gst" type="file">
                            </div>
                            <!-- NOC Fire Department -->
                            <div class="mb-3">
                                <label class="form-label"> NOC Fire Department:<span
                                        class="text-secondary">(optional)</span>
                                </label>
                                <input class="form-control form-control-sm" name="noc_fire" type="file">
                            </div>
                            <!-- Buttons -->
                            <div class="buttons">
                                <button type="button" class="btn btn-secondary back_button">Back Step</button>
                                <button type="button" class="btn btn-primary next_button">Next Step</button>
                            </div>
                        </div>
                        <!-- Restaurant Images -->
                        <div class="main p-4">
                            <div class="text mt-3">
                                <h2>Upload <span class="text-primary">Restaurant Images</span></h2>
                                <p class="text-secondary">Upload your Restaurant Images.</p>
                            </div>
                            <!-- Images -->
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Restaurant Images</label>
                                <input class="form-control" type="file" name="restaurant_images" id="formFileMultiple" multiple>
                                <span class="error-msg"></span>
                            </div>
                            <!-- Buttons -->
                            <div class="buttons">
                                <button type="button" class="btn btn-secondary back_button">Back Step</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block script %}
<script>
var next_click=document.querySelectorAll(".next_button");
var main_form=document.querySelectorAll(".main");
var step_list = document.querySelectorAll(".form-progress-bar li");
var num = document.querySelector(".step-number");
let formnumber=0;

//      Next Button
next_click.forEach(function(next_click_form){
    next_click_form.addEventListener('click',function(){
        if(!validateform()){
            return false
        }
       formnumber++;
       updateform();
       progress_forward();
       contentchange();
    });
});

//      Back Button
var back_click=document.querySelectorAll(".back_button");
back_click.forEach(function(back_click_form){
    back_click_form.addEventListener('click',function(){
       formnumber--;
       updateform();
       progress_backward();
       contentchange();
    });
});

//      content Change
var step_num_content=document.querySelectorAll(".step-number-content");

function contentchange(){
    step_num_content.forEach(function(content){
        content.classList.remove('active');
        content.classList.add('d-none');
    });
    step_num_content[formnumber].classList.add('active');
    step_num_content[formnumber].classList.remove('d-none');
}

//      Update content
function updateform(){
    main_form.forEach(function(mainform_number){
        mainform_number.classList.remove('active');
    })
    main_form[formnumber].classList.add('active');
}

//     Progress Bar
function progress_forward(){
    num.innerHTML = formnumber+1;
    step_list[formnumber].classList.add('active');
}

function progress_backward(){
    var form_num = formnumber+1;
    step_list[form_num].classList.remove('active');
    num.innerHTML = form_num;
}

// Validate Forms
function validateform(){
    validate=true;
    var validate_inputs=document.querySelectorAll(".main.p-4.active input, .main.p-4.active select");
    validate_inputs.forEach(function(vaildate_input){

        vaildate_input.classList.remove('border', 'border-danger');
        var errorMessage = vaildate_input.parentElement.querySelector('.error-msg');
        if(errorMessage) {
            errorMessage.textContent = '';
        }
        if(vaildate_input.hasAttribute('required')){
            if(vaildate_input.value.length==0){
                validate=false;
                vaildate_input.classList.add('border', 'border-danger');
                errorMessage.textContent = 'This Field is required';
            }
        }
        if(vaildate_input.type === 'tel') {
            var phoneRegex = /^[6789]\d{9}$/;
            if(!phoneRegex.test(vaildate_input.value)){
                validate=false;
                vaildate_input.classList.add('border', 'border-danger');
                errorMessage.textContent = 'Please enter a valid Mobile Number';
            }
        }
    });
    return validate;
}


// States and Cities
$(document).ready(function() {
    $('#exist_state-{{address.id}}').on('change', function() {
      var state_id = $(this).val();
      if (state_id) {
        $.ajax({
          url: '/get_cities/' + state_id + '/',
          type: 'GET',
          dataType: 'json',
          success: function(city_data) {
            $('#exist_city-{{address.id}}').empty();
            $.each(city_data, function(i, city) {
              $('#exist_city-{{address.id}}').append($('<option>', {
                value: city.id,
                text: city.name
              }));
            });
          }
        });
      }
    });
  });

</script>
{% endblock %}
