{% extends 'base.html' %}
{% load static %}

{% block styles %} {% static 'css/sign.css' %} {% endblock %}

<!-- Title -->
{% block title %} SignUp {% endblock %}

{% block navbar %} {% endblock %}

{% block index %}

<section>
    <!-- Img Content-->
    <div class="bgImg">
        <img src="{% static 'images/regbg.jpg' %}" />
    </div>
    <!-- Form Content-->
    <div class="form-content">
        <div class="form-container p-4">
            <h3 class="text-center mb-4">Sign<span class="text-primary">Up</span></h3>
            <form action="{% url 'registerUser' %}" method="post">
                {% csrf_token %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
                <div class="mb-3">
                    <label for="full_name" class="form-label">
                        <span><i class="fa-solid fa-user"></i></span>
                        Full Name
                    </label>
                    <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Your full name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">
                        <span><i class="fa-solid fa-envelope"></i></span>
                        Email
                    </label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email address" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">
                        <span><i class="fa-solid fa-lock"></i></span>
                        Password
                    </label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Set a password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">
                        <span><i class="fa-solid fa-lock"></i></span>
                        Confirm Password
                    </label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Retype Password" required>
                </div>
                <div class="text-center mb-3">
                    <button class="btn btn-primary" type="submit">SignUp</button>
                </div>
                <div class="mb-3">
                    <p>Already have an account? <span class="bold"><a href="{% url 'loginUser' %}">signin</a></span>
                    </p>
                </div>
            </form>
        </div>

    </div>
</section>

{% endblock %}