{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %} {% static 'css/sign.css' %} {% endblock %}

<!-- Title -->
{% block title %} SignUp {% endblock %}

{% block navbar %} {% endblock %}

{% block index %}

<section>
    <!-- Img Content-->
    <div class="bgImg">
        <img src="{% static 'images/regbg.jpg' %}" />
    </div>
    <!-- Form Content-->
    <div class="form-content">
        <div class="form-container p-4">
            <h3 class="text-center mb-4">Sign<span class="text-primary">Up</span></h3>
            <form action="{% url 'registerUser' %}" method="post" novalidate>
                {% csrf_token %}
                {{regForm|crispy}}
                <div class="text-center mb-3">
                    <button class="btn btn-primary" type="submit">SignUp</button>
                </div>
                <div class="mb-3">
                    <p>Already have an account? <span class="bold"><a href="{% url 'loginUser' %}">Login</a></span>
                    </p>
                </div>
            </form>
        </div>

    </div>
</section>

{% endblock %}